#T {
  --color: var(--piece-t);

  .block {
    &:nth-child(1) {
      &::after {
        --width: calc(100% - var(--gap));
        --height: calc(100% + (var(--gap) * 2));
        top: calc(var(--gap) / 2);
        left: calc(var(--gap) / 2);
      }
    }

    &:nth-child(2) {
      &::after {
        --width: calc(100% + (var(--gap) * 2));
        --height: calc(100% - var(--gap));
        top: calc(var(--gap) / 2);
        left: calc(var(--gap) / 2);
      }
    }

    &:nth-child(3) {
      z-index: 2;

      &::after {
        display: none;
      }
    }

    &:nth-child(4) {
      &::after {
        --width: calc(100% + (var(--gap) * 2));
        --height: calc(100% - var(--gap));
        top: calc(var(--gap) / 2);
        right: calc(var(--gap) / 2);
      }
    }
  }
}
