:root {
  // Pallette
  --white: #ddd;
  --gray: #7a7a7a;
  --black: #242424;
  --red: #f02d3a;
  --orange: #ff510b;
  --yellow: #ffca09;
  --green: #09f04a;
  --teal: #12ffd1;
  --blue: #0c85f5;
  --indigo: #{lighten(#540fff, 10%)};
  --purple: #cb0eff;
  --pink: #ff0ebc;
  --beige: #faedcd;
  --piece-c: var(--red);
  --piece-i2: var(--orange);
  --piece-i3: var(--yellow);
  --piece-i4: var(--green);
  --piece-j: var(--teal);
  --piece-o: var(--blue);
  --piece-r: var(--indigo);
  --piece-t: var(--purple);
  --piece-z: var(--pink);
  --roadblock: var(--beige);
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  display: contents;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */

button {
  all: unset;
  appearance: none;
  cursor: pointer;
}

.btn {
  --color: var(--green);
  --hover: var(--black);
  background: none;
  border: none;
  font-size: 1.125rem;
  line-height: 0;
  margin: 0;
  padding: 1.375rem 0.75rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color);
  transition: 0.25s;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    background: var(--color);
    color: var(--hover);
  }

  & + & {
    --color: var(--pink);
  }
}
