:root {
  --white: #ddd;
  --gray: #7a7a7a;
  --black: #242424;

  --red: #f02d3a;
  --orange: #ff510b;
  --yellow: #ffca09;
  --green: #09f04a;
  --teal: #12ffd1;
  --blue: #0c85f5;
  --indigo: #7842ff;
  --violet: #cb0eff;
  --pink: #ff0ebc;
  --beige: #faedcd;

  --piece-c: var(--random-1);
  --piece-i2: var(--random-2);
  --piece-i3: var(--random-3);
  --piece-i4: var(--random-4);
  --piece-j: var(--random-5);
  --piece-o: var(--random-6);
  --piece-r: var(--random-7);
  --piece-t: var(--random-8);
  --piece-z: var(--random-9);

  --roadblock: var(--beige);
}

html {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--white);
  background-color: var(--black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &,
  & * {
    -webkit-touch-callout: none !important;
    -webkit-tap-highlight-color: transparent !important;
    -moz-user-select: -moz-none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  box-sizing: border-box;
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  &.placing,
  &.placing * {
    cursor: none !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: contents;
}

button {
  all: unset;
  appearance: none;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(0.8);
  }
}

.btn {
  --color: var(--random-4);
  --hover: var(--black);
  background: none;
  border: none;
  font-size: 1.125rem;
  line-height: 0;
  margin: 0;
  padding: 1.375rem 0.75rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color);
  transition: 0.25s;
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);

  &:hover,
  &:focus {
    background: var(--color);
    color: var(--hover);
  }

  & + & {
    --color: var(--random-5);
  }
}
