.piece {
  display: grid;
  grid-auto-columns: var(--cell-size);
  grid-auto-rows: var(--cell-size);
  gap: 1px;
  cursor: pointer;
  &:hover:not(.dragging) {
    .block i {
      opacity: 1;
      visibility: visible;
    }
  }

  &.dragging,
  .dragging & {
    --cell-size: 10vmin;
    z-index: 100;
    position: fixed;
  }
}

.block {
  --gap: calc(var(--cell-size) * (3 / 40));
  --size: calc(var(--cell-size) - (var(--gap) * 2));
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  height: var(--size);
  width: var(--size);
  margin: var(--gap);
  grid-row-end: span 1;
  grid-column-end: span 1;
  transition: 0.2s ease;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color);
    border: calc(var(--gap) * 2) solid
      color-mix(in srgb, var(--color) 80%, #000 20%);
  }

  i {
    display: block;
    font-size: calc(var(--cell-size) * 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    padding: 0.25rem;
    background: var(--black);
    border-radius: 3px;
  }
}

@import './pieces/C';
@import './pieces/I';
@import './pieces/J';
@import './pieces/O';
@import './pieces/R';
@import './pieces/T';
@import './pieces/Z';
